deploy/
dist/
.astro/
.yarn/
node_modules/
yarn.lock
.pnp.cjs
.pnp.loader.mjs
.editorconfig
.gitattributes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store