@import "tailwindcss";

@theme {
	--color-1st: #082736;
	--color-2nd: #FECF71;
	--color-3rd: #DED5BF;
	--color-4th: #FDEAC1;
	--color-black: #353535;
	--color-white: #DED5BF;

	--font-cubano: 'Cubano';
	
	--breakpoint-sm: 320px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

}

@font-face {
	font-family: 'Cubano';
	src: url('/assets/fonts/Cubano.ttf') format('truetype');
	font-display: block;
}

body {
	background-color: var(--color-1st);
}


.bg-2nd {
	background-color: var(--color-2nd);
}

.bg-1st {
	background-color: var(--color-1st);
}

.bg-4th {
	background-color: var(--color-4th);
}

.fg-2nd {
	color: var(--color-2nd);
}

.vignette-item {
	@apply flex items-center gap-2 rounded-lg p-2 bg-3rd;
}

.experience-tag {
	@apply flex items-center gap-2 rounded-lg p-2 text-sm bg-3rd;
}

.hero-button {
	@apply flex h-16 w-16 items-center justify-center rounded-lg bg-2nd text-black font-cubano;

	&:focus,
	&:hover {
		@apply bg-3rd;
	}
}

.any-button {
	@apply flex h-16 w-16 items-center justify-center rounded-lg bg-1st text-white;

	&:focus,
	&:hover {
		@apply text-2nd;
	}
}

.info {
	@apply flex flex-grow items-center gap-2 rounded-lg px-4 py-2 bg-1st text-white;
}

.info .icon {
	@apply h-6 w-6;
}

.section-title {
	@apply font-cubano flex w-full items-center gap-2 rounded-lg px-2 py-2 text-xl font-bold uppercase bg-1st text-white;
}
