---
import FaceWithMonocle from '@emojis/FaceWithMonocle.astro';

import Layout from '@layouts/Default.astro';

import '@styles/theme.css';

import { initLocale, Locale } from '@common';

const LOCALE: Locale = Locale.French;

const T = initLocale(LOCALE);
---

<Layout locale={LOCALE} title={T("index.title")}>
	<header>
		<div class="hidden sm:flex h-screen w-screen justify-center bg-1st px-2">
			<div class="h-128 w-128 flex flex-wrap gap-8 m-8 content-center items-center justify-center">
			<FaceWithMonocle />
			<p class="cubano text-center fg-white text-lg w-full">{T("404")}</p>
			<a aria-label="return-home" href="/" class="hero-button cubano w-64">
				Accueil
			</a>
			</div>
		</div>
	</header>
</Layout>
