
# ASTRO HTTP server
server {
	listen ${ASTRO_DEFAULT_PORT};

	root /usr/share/nginx/html;
	index index.html;
	include /etc/nginx/mime.types;

	# If the resource has not been found, issue a 404 HTTP error code
	location / {
		try_files $uri $uri/index.html $uri.html =404;
	}

	# Map 404 HTTP error code to the 404.html error page
	error_page 404 /404.html;

	location = /404.html {
		internal;
	}
}
