---
import { type Locale } from "@common";

interface Props {
	locale: Locale;
}

const { locale } = Astro.props;
---

<header class="bg-1st">
	<div class="flex items-center justify-between gap-4 text-white md:max-w-5xl xl:max-w-5xl mx-auto px-4 py-8">
		<div class="flex gap-4 items-center">
			<a class="text-5xl font-bold text-white hover:text-2nd" href={`/${locale}`}>dubet.fr</a>
			<span class="text-5xl font-bold text-white">{">"}</span>
			<span class="text-5xl font-bold text-white">articles ({`${locale.toUpperCase()}`})</span>
		</div>
		<div class="flex items-center gap-4">
			{["en", "fr", "ru"].map((l: string) => (
				l != locale && (
					<div class="bg-2nd rounded-lg">
						<a class="text-lg flex w-16 p-2 items-center justify-center rounded-lg text-black font-bold hover:bg-3rd" href={`/${l}/articles`}>{l.toUpperCase()}</a>
					</div>
				)
			))}
		</div>
	</div>
</header>
