---
import CopyrightIcon from '@icons/Copyright.astro';
import { initLocale, Locale, COPYRIGHT_DATE, COPYRIGHT_USER } from '@common';

interface Props {
	locale: Locale;
};

const { locale } = Astro.props;

const T = initLocale(locale);

---

<footer>
	<div class="font-cubano text-center p-6 bg-1st fg-white md:text-lg sm:text-sm">
		<div class="flex flex-wrap gap-2 text-center content-center items-center justify-center text-white">
			<span>Copyright</span>
			<span class="md:w-4 md:h-4 sm:w-3 sm:h-3"><CopyrightIcon /></span>
			<span>{COPYRIGHT_DATE}</span>
			<span>{COPYRIGHT_USER}.</span>
			<span>{T("copyright.claim")}</span>
		</div>
	</div>
</footer>
