---
interface Props {
	label: string;
	level: number;
}

const { label, level } = Astro.props;
---

<div class="flex w-full flex-col gap-1 text-base font-bold fg-black">
	{label}
	<div class="flex h-2 bg-2nd rounded-md">
		<div class="flex bg-1st rounded-md" style=`width: ${level}%;`></div>
	</div>
</div>
