---
import FaceWithMonocle from "@emojis/FaceWithMonocle.astro";
---

<header class="xs:hidden flex flex-wrap h-screen w-screen items-center justify-center content-center bg-1st px-2">
	<div class="transition hover:scale-90 cursor-pointer w-screen">
		<FaceWithMonocle />
	</div>
</header>
