---
import { BsArrowDown } from "solid-icons/bs";
---

<button id="scroll-button" class="hero-button cursor-pointer" aria-label="Scroll down button" title="Scroll down button">
	<BsArrowDown size={36} />
</button>

<script>
	const button = document.getElementById('scroll-button');
	const target = document.getElementsByTagName('main');

	button?.addEventListener('click', () => {
		target[0]?.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
		button.blur();
	});
</script>
