---
import "@styles/theme.css";

import { initLocale, type Locale } from "@common";
import Layout from "@layouts/Default.astro"
import FaceWithMonocle from "@components/emojis/FaceWithMonocle.astro";
import HouseIcon from "@components/icons/House.astro";

const LOCALE: Locale = "fr";

const T = initLocale(LOCALE);
---

<Layout locale={LOCALE} title={T("index.title")}>
	<header>
		<div class="hidden sm:flex h-screen w-screen justify-center items-center bg-1st px-2">
			<div class="h-128 w-lg flex flex-wrap gap-8 m-8 content-center items-center justify-center">
			<FaceWithMonocle />
			<p class=" text-center fg-white text-lg w-full">{T("404")}</p>
			<a aria-label="return-home" href="/fr/articles" class="hero-button w-64">
				<span class="h-10 w-10">
					<HouseIcon />
				</span>
			</a>
			</div>
		</div>
	</header>
</Layout>
