---
import "@styles/theme.css";

import { initLocale, type Locale } from "@common";
import ScreenTooSmall from "@components/ScreenTooSmall.astro";

interface Props {
	title: string;
	locale: string;
}

const { title, locale } = Astro.props;

const T = initLocale(locale as Locale);
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/assets/favicon.svg" />
		<link rel="preload" href="/assets/fonts/merriweather-v33-cyrillic_latin-700.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/assets/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={T("meta.description")}>
		<title>{title}</title>
	</head>
	<body class="font-merriweather">
		<svg class="hidden">
			<!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
			<g id="icon-calendar"><path d="M224 64C206.3 64 192 78.3 192 96L192 128L160 128C124.7 128 96 156.7 96 192L96 240L544 240L544 192C544 156.7 515.3 128 480 128L448 128L448 96C448 78.3 433.7 64 416 64C398.3 64 384 78.3 384 96L384 128L256 128L256 96C256 78.3 241.7 64 224 64zM96 288L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 288L96 288z"/></g>
			<g id="icon-building"><path d="M335.9 84.2C326.1 78.6 314 78.6 304.1 84.2L80.1 212.2C67.5 219.4 61.3 234.2 65 248.2C68.7 262.2 81.5 272 96 272L128 272L128 480L128 480L76.8 518.4C68.7 524.4 64 533.9 64 544C64 561.7 78.3 576 96 576L544 576C561.7 576 576 561.7 576 544C576 533.9 571.3 524.4 563.2 518.4L512 480L512 272L544 272C558.5 272 571.2 262.2 574.9 248.2C578.6 234.2 572.4 219.4 559.8 212.2L335.8 84.2zM464 272L464 480L400 480L400 272L464 272zM352 272L352 480L288 480L288 272L352 272zM240 272L240 480L176 480L176 272L240 272zM320 160C337.7 160 352 174.3 352 192C352 209.7 337.7 224 320 224C302.3 224 288 209.7 288 192C288 174.3 302.3 160 320 160z"/></g>
			<g id="icon-location-dot"><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></g>
		</svg>
		<div class="hidden xs:block bg-black">
			<slot />
		</div>
		<ScreenTooSmall />
	</body>
</html>
