---
import ScreenTooSmall from '@components/ScreenTooSmall.astro';

import '@styles/theme.css';

import { initLocale, Locale } from '@common';

interface Props {
	title: string;
	locale: Locale;
}

const { title, locale } = Astro.props;

const T = initLocale(locale);

---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/assets/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={T("meta.description")}>
		<title>{title}</title>
	</head>
	<body>
		<div class="hidden sm:block">
			<slot />
		</div>
		<ScreenTooSmall />
	</body>
</html>
